<%= render 'layouts/sidebar' %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="page-header">manage User <strong><%= current_user.email %></strong></h5>
        </div>
    </div>
</div>