<div class="login-card">
  <form>
    <input type="text" name="user">
    <input type="password" name="pass" id = "username" >
    <input type="submit" name="login" id = "password" class="login login-submit" value="login">
  </form>

 </div>